<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/Global.css">
    <link rel="stylesheet" href="/stylesheets/Index.css">
    <link rel="stylesheet" href="/stylesheets/buques.css">
    <title>Ava Flowers | Buquês</title>
    <link rel="icon" type="imagem/png" href="/images/icons/logo.ico" />
</head>
<body>
    <header>
        <div class="header-wrapper-top">
            <a href="/">
                <div class="logoHeader">
                    <img src="/images/LogoHeader.png" alt="">
                </div>
            </a>
            <div class="header-buscar">
                <input type="text">
                <img src="/images/icons/lupa.png" alt="">
            </div>
            <a href="/produtos/carrinho">
                <div class="header-carrinho">
                    <img src="/images/Carrinho.png" alt="">
                </div>
            </a>
        </div>
        
        <div class="header-wrapper-bot">
            <a href="/categorias/todasFlores">Todas as Flores</a>
            <a href="/categorias/buques">Buquês</a>
            <a href="/categorias/ocasioes">Ocasiões especiais</a>
            </ul>
        </div>
    </header>

    <section class="buque">
        <div class="container">
            <div class="row">
                <div class="col-lg card">
                    <img src="/images/buques/BuqueRosasColoridas.png" alt="">
                    <div class="cardinfo">
                        <a href="/produtos/buqueRosaC"><p>Buquê Rosas Coloridas</p></a>
                        <div class="preco-mais">
                            <div class="preco">
                                $60,00
                            </div>
                            <a href="/produtos/carrinho">
                                <div class="mais">
                                    +
                                </div>
                            </a>    
                        </div>
                    </div>
                </div>
                <div class="col-lg card">
                    <img src="/images/buques/flores_campo.png" alt="" class="foto">
                    <div class="cardinfo">
                        <a href="/produtos/florCampo"><p>Buquê Flores do Campo</p></a>
                        <div class="preco-mais">
                            <div class="preco">
                                $120,00
                            </div>
                            <a href="/produtos/carrinho">
                                <div class="mais">
                                    +
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg card">
                    <img src="/images/buques/primavera.png" alt="" class="foto">
                    <div class="cardinfo">
                        <a href="/produtos/primavera"><p>Buquê Primavera</p></a>
                        <div class="preco-mais">
                            <div class="preco">
                                $100,00
                            </div>
                            <a href="/produtos/carrinho">
                                <div class="mais">
                                    +
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg card">
                    <img src="/images/buques/BuqueRosas.png" alt="" class="foto">
                    <div class="cardinfo">
                        <a href="/produtos/buque-rosas"><p>Buquê de Rosas </p></a>
                        <div class="preco-mais">
                            <div class="preco">
                                $60,00
                            </div>
                            <a href="/produtos/carrinho">
                                <div class="mais">
                                    +
                                </div>
                            </a>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg card">
                    <img src="/images/buques/rosas_nacionais.png" alt="" class="foto">
                    <div class="cardinfo">
                        <a href="/produtos/buque-nacionais"><p>Buquê Rosas Nacionais</p></a>
                        <div class="preco-mais">
                            <div class="preco">
                                $90,00
                            </div>
                            <a href="/produtos/carrinho">
                                <div class="mais">
                                    +
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg card">
                    <img src="/images/buques/rosas_orquidias_hortensias.png" alt="" class="foto">
                    <div class="cardinfo">
                        <a href="/produtos/orquidia-Hortensia"><p>Buquê Orquidias e Hortênsias</p></a>
                        <div class="preco-mais">
                            <div class="preco">
                                $150,00
                            </div>
                            <a href="/produtos/carrinho">
                                <div class="mais">
                                    +
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg card">
                    <img src="/images/buques/Buque_mixde_rosas.png" alt="" class="foto">
                    <div class="cardinfo">
                        <a href="/produtos/buqueMixRosas"><p>Buquê Mix de Rosas </p></a>
                        <div class="preco-mais">
                            <div class="preco">
                                $90,00
                            </div>
                            <a href="/produtos/carrinho">
                                <div class="mais">
                                    +
                                </div>
                            </a>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg card">
                    <img src="/images/buques/BuqueMisto.png" alt="" class="foto">
                    <div class="cardinfo">
                        <a href="/produtos/buqueMistos"><p>Buquê Misto</p></a>
                        <div class="preco-mais">
                            <div class="preco">
                                $60,00
                            </div>
                            <a href="/produtos/carrinho">
                                <div class="mais">
                                    +
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg card">
                    <img src="/images/buques/beleza_colorida.png" alt="" class="foto">
                    <div class="cardinfo">
                        <a href="/produtos/buqueBeleza"><p>Buquê Beleza Colorida</p></a>
                        <div class="preco-mais">
                            <div class="preco">
                                $120,00
                            </div>
                            <a href="/produtos/carrinho">
                                <div class="mais">
                                    +
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </section>

    <section class="contato">
        <h1>Contato</h1>
        <div class="contato-wrapper">
            <div class="logo-contato">
                <img src="/images/logoCompelta.png" alt="">
            </div>
            <div class="form-contato">
                <p>Mande uma mensagem: </p>
                <input type="text" name="nome" placeholder ="Digite seu nome">
                <input type="email" name="email" placeholder ="Digite seu email">
                <textarea name="mensagem" id="mensagem" cols="30" rows="10" placeholder ="Digite sua mensagem"></textarea>
                <button type="submit" id="btn-subimit-contact">Enviar</button>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg">
                    <h3>Outros meios de contato</h3>
                    <div class="social">
                        <div class="icon-wrapper">
                            <a href=""><img src="/images/icons/whatsapp.png" alt=""></a>
                        </div>
                        <div class="icon-wrapper">
                            <a href=""><img src="/images/icons/email.png" alt=""></a>
                        </div>
                        <div class="icon-wrapper">
                            <a href=""><img src="/images/icons/instagram.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/usm/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>