<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bem vindo(a) ao <%= title %></p> 
    <br>
    <p>By <b>Grupo 10</b></p>
  </body>
</html>
