<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/Global.css">
    <link rel="stylesheet" href="/stylesheets/produto.css">
    <title>Ava Flowers</title>
    <link rel="icon" type="imagem/png" href="/images/icons/logo.ico" />
</head>
<body>
    <header>
        <div class="header-wrapper-top">
            <a href="/">
                <div class="logoHeader">
                    <img src="/images/LogoHeader.png" alt="">
                </div>
            </a>
            <div class="header-buscar">
                <input type="text">
                <img src="/images/icons/lupa.png" alt="">
            </div>
            <div class="header-carrinho">
                <img src="/images/Carrinho.png" alt="">
            </div>
        </div>
        
        <div class="header-wrapper-bot">
            <a href="/categorias/todasFlores">Todas as flores</a>
            <a href="/categorias/buques">Buquês</a>
            <a href="/categorias/ocasioes">Ocasiões especiais</a>
            </ul>
        </div>
    </header>

    <section class="container-produto">
        <% produtos.forEach(function (produto)  {%>
            <img class="imagem" src="<%= produto.img %> ">
            <div class="info">
               
                <h1 class="nome"> <%=produto.nome%> </h1>
             
                <span class="preco">R$<%=produto.valor%></span>
                
                <p class="informacoes">
                    Demonstre seu amor no Dia dos Namorados!  <br>Puro charme... Arranjo com mistura harmoniosa de rosas 
                    rosadas, em um elegante vasinho de vidro. 
                    Embalagem especial!!  </p>             </p>
                <a class="btn" href="/produtos/carrinho"> 
                    <button class="comprar">Comprar</button> </a> 

<% }); %> 
    
        </div>
       
    </section>
    
    <article class="container-cuidados">

        <h1 class="titulo">Uma Ajudinha</h1>
       
        <div class="topico">
            <h2 class="title">1.Sombra e frescor</h2>
            <p class="texto"> Mantenha as flores em locais sombreados e arejados.
                 Ao transportá-las em veículos, evite colocá-las em um porta-malas não ventilado ou sob a luz direta do sol.</p>


            <h2 class="title">2.Conserve no frio.</h2>
            <p class="texto"> Caso precise que suas flores durem por mais tempo, elas poderão ser armazenadas na geladeira antes 
                da ocasião em um local apropriado para mantê-las frescas por mais tempo. </p>

        
            <h2 class="title">3.Para transportar</h2>
            <p class="texto"> Caso precise levar suas flores para outro local, as transporte preferencialmente deitadas
                delicadamente em caixas rasas.</a></p>

        </div>


    </article>
    <div class="container-btn">
        
        
        <a class="btn" href="/produtos/carrinho"> 
            <button class="comprar">Adquira seu Conjunto</button> </a>   


    </div>
      

  

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg">
                    <h3>Outros meios de contato</h3>
                    <div class="social">
                        <div class="icon-wrapper">
                            <a href=""><img src="/images/icons/whatsapp.png" alt=""></a>
                        </div>
                        <div class="icon-wrapper">
                            <a href=""><img src="/images/icons/email.png" alt=""></a>
                        </div>
                        <div class="icon-wrapper">
                            <a href=""><img src="/images/icons/instagram.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/usm/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>