<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/Global.css">
    <link rel="stylesheet" href="/stylesheets/produto.css">
    <title>Ava Flowers</title>
    <link rel="icon" type="imagem/png" href="/images/icons/logo.ico" />
</head>
<body>
    <header>
        <div class="header-wrapper-top">
            <a href="">
                <div class="logoHeader">
                    <img src="/images/LogoHeader.png" alt="">
                </div>
            </a>
            <div class="header-buscar">
                <input type="text">
                <img src="/images/icons/lupa.png" alt="">
            </div>
            <div class="header-carrinho">
                <img src="/images/Carrinho.png" alt="">
            </div>
        </div>
        
        <div class="header-wrapper-bot">
            <a href="/categorias/todasFlores">Todas as flores</a>
            <a href="/categorias/buques">Buquês</a>
            <a href="/categorias/ocasioes">Ocasiões especiais</a>
            </ul>
        </div>
    </header>

    <section class="container-produto">
        <img class="imagem" src="/images/todasFlores/Girassol.png">

        <div class="info">
            <h1 class="nome"> Girassol </h1>
         
            <span class="preco">R$20,00</span>
            
            <p class="informacoes">
                O Girassol é uma planta originária da América do Norte e possui a particularidade de ser heliotrópica, ou seja, 
                o caule se movimenta posicionando a flor na direção do sol. Os girassóis são conhecidos por transmitir um sentimento
                 de positividade por causa de suas grandes flores amarelas.
            </p>
            <a class="btn" href="/produtos/carrinho"> 
                <button class="comprar">Comprar</button> </a>     
        </div>
       
    </section>
    
    <article class="container-cuidados">

        <h1 class="titulo">Como cuidar</h1>
       
        <div class="topico">
            <h2 class="title">1. Banho de Sol</h2>
            <p class="texto">  O girassol precisa receber luz solar 
                direta por várias horas ao dia. A planta cresce melhor com exposição de no mínimo 4 horas de sol
                 diariamente.</p>


            <h2 class="title">2.Solo sempre úmido, mas nunca enxarcado!</h2>
            <p class="texto">Essas flores não gostam de solo muito seco ou extremamente encharcado. Sendo assim, é 
                interessante observar como está a terra e fazer a rega para mantê-la úmida.
                Plantas adultas conseguem lidar com períodos de seca, mas o excesso de regas irá matar os girassóis.</p>

        
            <h2 class="title">3. Cuidado com as pragas</h2>
            <p class="texto"> Proteja o girassol das pragas e plantas invasoras. Retire outras plantas e ervas daninhas,
                no início do plantio, para evitar que concorram por nutrientes do solo.</p>

        </div>


    </article>
    <div class="container-btn">
        
        
        <a class="btn" href="/produtos/carrinho"> 
            <button class="comprar">Adquira seu Girassol</button> </a> 


    </div>
      

  

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg">
                    <h3>Outros meios de contato</h3>
                    <div class="social">
                        <div class="icon-wrapper">
                            <a href=""><img src="/images/icons/whatsapp.png" alt=""></a>
                        </div>
                        <div class="icon-wrapper">
                            <a href=""><img src="/images/icons/email.png" alt=""></a>
                        </div>
                        <div class="icon-wrapper">
                            <a href=""><img src="/images/icons/instagram.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/usm/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>