<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/Global.css">
    <link rel="stylesheet" href="/stylesheets/produto.css">
    <title>Ava Flowers</title>
    <link rel="icon" type="imagem/png" href="/images/icons/logo.ico" />
</head>
<body>
    <header>
        <div class="header-wrapper-top">
            <a href="/">
                <div class="logoHeader">
                    <img src="/images/LogoHeader.png" alt="">
                </div>
            </a>
            <div class="header-buscar">
                <input type="text">
                <img src="/images/icons/lupa.png" alt="">
            </div>
            <div class="header-carrinho">
                <img src="/images/Carrinho.png" alt="">
            </div>
        </div>
        
        <div class="header-wrapper-bot">
            <a href="/categorias/todasFlores">Todas as flores</a>
            <a href="/categorias/buques">Buquês</a>
            <a href="/categorias/ocasioes">Ocasiões especiais</a>
            </ul>
        </div>
    </header>

    <section class="container-produto">
        <% produtos.forEach(function (produto)  {%>
            <img class="imagem" src="<%= produto.img %> ">
            <div class="info">
               
                <h1 class="nome"> <%=produto.nome%> </h1>
             
                <span class="preco">R$<%=produto.valor%></span>
                
                <p class="informacoes">
                    Os lírios são originárias do hemisfério norte com ocorrências na Europa, Ásia, América do Norte,
                 e América do Sul. Mais da metade das espécies são encontradas na China e no Japão.
                  As plantas atingem, normalmente, de 1,20 a 2 metros de altura. 
                  Várias espécies de lírios também recebem o nome de açucena.de ser plantada. <br>O seu cheiro delicioso é exalado durante a noite, 
                    iniciando após o pôr do sol.
                </p>
                <a class="btn" href="/produtos/carrinho"> 
                    <button class="comprar">Comprar</button> </a> 

<% }); %>   
        
        </div>
       
    </section>
    
    <article class="container-cuidados">

        <h1 class="titulo">Como cuidar</h1>
       
        <div class="topico">
            <h2 class="title">1. Sol, mas não muito</h2>
            <p class="texto">  Lírios precisam de uma boa iluminação, mas não devem ficar expostos 
                diretamente ao sol nos períodos mais quentes do dia. O substrato não pode secar completamente ou a
                 planta vai desidratar, por isso é bom cultivá-los em locais de meia sombra.</p>


            <h2 class="title">2.Nada de umidade!</h2>
            <p class="texto">Os lírios são plantas que não precisam de regas constantes, você deve regá-los somente 
                quando for realmente necessário, pois o bulbo apodrece facilmente se a terra estiver constantemente úmida.
                Em épocas mais secas, regue de 2 a 3 vezes por semana e, em épocas mais úmidas,
                 1  vez por semana é o  suficiente.</p>

        
            <h2 class="title">3. Um alerta importante </h2>
            <p class="texto"> Se você tem animais de estimação como cães e gatos, muito cuidado com lírios em casa. 
                Todas as partes dessa planta são altamente tóxicas, a sua ingestão pode causar 
                irritação oral e de mucosas, irritação ocular, dificuldade para engolir e até mesmo problemas respiratórios</p>

        </div>


    </article>
    <div class="container-btn">
        
        
        <a class="btn" href="/produtos/carrinho"> 
            <button class="comprar">Adquira seu Lírio</button> </a> 

    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg">
                    <h3>Outros meios de contato</h3>
                    <div class="social">
                        <div class="icon-wrapper">
                            <a href=""><img src="/images/icons/whatsapp.png" alt=""></a>
                        </div>
                        <div class="icon-wrapper">
                            <a href=""><img src="/images/icons/email.png" alt=""></a>
                        </div>
                        <div class="icon-wrapper">
                            <a href=""><img src="/images/icons/instagram.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/usm/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>