<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/Global.css">
    <link rel="stylesheet" href="/stylesheets/produto.css">
    <title>Ava Flowers</title>
    <link rel="icon" type="imagem/png" href="/images/icons/logo.ico" />
</head>
<body>
    <header>
        <div class="header-wrapper-top">
            <a href="/">
                <div class="logoHeader">
                    <img src="/images/LogoHeader.png" alt="">
                </div>
            </a>
            <div class="header-carrinho">
                <img src="/images/Carrinho.png" alt="">
            </div>
        </div>
        
        <div class="header-wrapper-bot">
            <a href="/categorias/todasFlores">Todas as flores</a>
            <a href="/categorias/buques">Buquês</a>
            <a href="/categorias/ocasioes">Ocasiões especiais</a>
            </ul>
        </div>
    </header>

    <section class="container-produto">
        <% produtos.forEach(function (produto)  {%>
            <img class="imagem" src="<%= produto.img %> ">
            <div class="info">
               
                <h1 class="nome"> <%=produto.nome%> </h1>
             
                <span class="preco">R$<%=produto.valor%></span>
                
                <p class="informacoes">
                    As roseiras são uma das plantas mais comuns em casas e jardins, já que suas flores embelezam qualquer 
                    canto. As rosas, com sua inequívoca fragrância e sua diversidade de cores, são ao mesmo tempo uma das
                     flores preferidas na hora de fazer ramos para presentear
                </p>
                <a class="btn" href="/produtos/carrinho"> 
                    <button class="comprar">Comprar</button> </a> 

    <% }); %>  
        
           </div>
                   
               
       
    </section>
    
    <article class="container-cuidados">

        <h1 class="titulo">Como cuidar</h1>
       
        <div class="topico">
            <h2 class="title">1. Ensolarado e arejado</h2>
            <p class="texto"> As roseiras são plantas que precisam muito do calor. Por isso, o ideal é que elas recebam
                 luz direta do sol por, pelo menos, seis horas por dia. Elas devem estar em locais arejados, mas sem 
                grandes ventanias</p>


            <h2 class="title">2.Cuidado na hora de regar</h2>
            <p class="texto">Na hora de regar a roseira, tenha o cuidado de molhar diretamente a terra. Folhas e flores não gostam 
                muito do contato direto com a água, e podem “cozinhar” devido à união da água e do calor. Sem contar que molhá-las 
                pode favorecer o aparecimento de fungos.</p>

        
            <h2 class="title">3. Preste atenção a pragas </h2>
            <p class="texto"> Pragas são bastante comuns em roseiras e, se você não tiver atenção, poderão matar a planta rapidamente.

                Uma das pragas mais comuns nas rosas são os pulgões. Mas formigas, ácaros, larvas minadoras e cochonilhas
                também podem acontecer. Assim como os fungos que causam doenças na planta, incluindo problemas como 
                ferrugem e mofo-branco.
                
                <br>Para acabar com qualquer um destes, você vai precisar utilizar um inseticida específico para a praga.
                 Já no caso dos fungos, será preciso utilizar um fungicida.</p>

        </div>


    </article>
    <div class="container-btn">
        
        
        <a class="btn" href="/produtos/carrinho"> 
            <button class="comprar">Adquira sua Rosa</button> </a> 


    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg">
                    <h3>Outros meios de contato</h3>
                    <div class="social">
                        <div class="icon-wrapper">
                            <a href=""><img src="/images/icons/whatsapp.png" alt=""></a>
                        </div>
                        <div class="icon-wrapper">
                            <a href=""><img src="/images/icons/email.png" alt=""></a>
                        </div>
                        <div class="icon-wrapper">
                            <a href=""><img src="/images/icons/instagram.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/usm/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>