/* body{
    overflow: hidden;
} */

.header2-wrapper-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 0 30px;
}

.logoHeader2 > img{
    height: 100px;
    width: 200px;
    
}

.cadastro-wrapper{
    display: flex;
    justify-content: center;
}

.cadastro{
    display: flex;
    box-shadow: 0 0 1em rgb(34, 33, 29);
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.img-cadastro > img{
    
    height: 600px;
}

.cadastro-form{
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cadastro-form h1{
    font-size: 40px;
    color: var(--orange);
}

.cadastro-form input{
    border: 0;
    width: 80%;
    height: 50px;
    background-color: #ECECEC;
    color: #A9A9A9;
    border-radius: 160px;
    padding-left: 20px;
    margin-top: 20px;
}

.form-cadastro{
    margin-top: 30px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.btn-cadastro{
    color: white;
    background-color: var(--green);
    padding: 10px 20px;
    border-radius: 50px;
}

.btn-cadastro:hover{
    color: white;
    text-decoration: none;
    background-color: #82a175;
    transition: 1s;
}

.link{
    color: #A9A9A9;
    font-size: 20px;
}

.link:hover{
    color: #A9A9A9;
}

.img-login{
    margin-top: -3px;
}

.confirma-msg{
    width: 80%;
}

/* ============================================================================================ */
/* RESPONSIVO */

@media only screen and (max-width: 1100px) {
    .img-cadastro{
        display: none;
    }

    .cadastro-form{
        padding: 50px 0;
        width: 500px;
    }
}

@media only screen and (max-width: 555px) {
    .cadastro-form{
        padding: 50px 0;
        width: 400px;
    }
}