.carrinho {
  max-width: 80%;
  background-position: left;
  /* margin: 0 auto; */
}

.container {
  max-width: 100%;
}

.titulo {
  margin-top: 3rem;
  margin-left: 5px;
  padding-left: 30px;
}

h1 {
  color: #fe934e;
  font-weight: bold;
}

.produto {
  display: flex;
  background-position: left;
  background-color: #ee9c63;
  border-radius: 20px;
  margin-bottom: 2rem;
  height: 300px;
  width: 1400px;
  /* justify-content: space-between; */
  margin-top: 3rem;
}

.produto .produto-img {
  border-radius: 20px 20px 20px 20px;
}

.preco-add-excluir {
  display: flex;
  height: 400px;
  left: 50px;
  justify-content: space-between;
}

.preco-add-excluir-wrapper {
  position: relative;
  top: 100px;
  left: 30px;
  width: 350px;
  display: flex;
  flex-direction: column;
  /* justify-content:space-evenly; */
}

.nome h3 {
  color: white;
  font-weight: bold;
}

.preco-add {
  display: flex;
  align-items: center;
  width: 100%;
}

.preco {
  background-color: #de9b6c;
  padding: 10px 20px;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  margin-right: 2rem;
}

.add {
  background-color: #de9b6c;
  color: white;
}

.add button {
  background-color: #de9b6c;
  color: white;
  border: 1px solid #e5ba9c;
  padding: 10px;
}

.add span {
  padding: 10px;
}

.excluir {
  margin-top: 150px;
  height: 100%;
  display: flex;
  align-items: flex-start;

  padding-left: 450px;

  margin-right: 2rem;
}

.preco-info {
  font-size: 40px;
  margin-top: 1rem;
}

.brown {
  color: #cd8655;
}

.orange {
  color: #fe934e;
  font-weight: bold;
}

.botao-finalizar {
  background-color: #9ec38e;
  color: white;
  padding: 25px 25px;
  margin-bottom: 5rem;
  border-radius: 125px;
}

.botao-finalizar:hover {
  color: white;
  text-decoration: none;
  background-color: #8cab7e;
  transition: 1s;
}

#modal1 {
  display: none;
}

#modal2 {
  display: none;
}

@media only screen and (max-width: 1280px) {
  .preco-add-excluir-wrapper {
    width: 700px;
  }
}

@media only screen and (max-width: 1280px) {
  .preco-add-excluir-wrapper {
    width: 500px;
  }
}

@media only screen and (max-width: 1280px) {
  .produto {
    display: flex;
    flex-direction: column;
  }

  .preco-add-excluir {
    padding: 30px;
  }
}
