body{
  overflow-x: hidden;
}

.carrinho {
  max-width: 80%;
  background-position: left;
  /* margin: 0 auto; */
}

.container {
  max-width: 100%;
}

.titulo {
  margin-top: 3rem;
  margin-left: 5px;
  padding-left: 4rem;
}

h1 {
  color: #fe934e;
  font-weight: bold;
}

.produto {
  display: flex;
  background-position: left;
  background-color: #ee9c63;
  border-radius: 20px;
  margin-bottom: 2rem;
  height: 300px;
  width: 1400px;
  /* justify-content: space-between; */
  margin-top: 3rem;
  margin-left: 2rem;
}

.produto .produto-img {
  border-radius: 20px 20px 20px 20px;
  width: 30%;
}

.preco-add-excluir {
  display: flex;
  width: 950px;
  left: 50px;
  justify-content: space-between;
}

.preco-add-excluir-wrapper {
  position: relative;
  top: 100px;
  left: 30px;
  width: 350px;
  display: flex;
  flex-direction: column;
  /* justify-content:space-evenly; */
}

.nome h3 {
  color: white;
  font-weight: bold;
}

.preco-add {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.preco {
  background-color: #de9b6c;
  padding: 10px 20px;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  margin-right: 2rem;
}

.add {
  background-color: #de9b6c;
  color: white;
}

.add button {
  background-color: #de9b6c;
  color: white;
  border: 1px solid #e5ba9c;
  padding: 10px;
}

.add span {
  padding: 10px;
}

.excluir {
  margin-top: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.preco-info {
  font-size: 40px;
  margin-top: 1rem;
  margin-left: 4rem;
}

.brown {
  color: #cd8655;
}

.orange {
  color: #fe934e;
  font-weight: bold;
}

.botao-finalizar {
  background-color: #9ec38e;
  color: white;
  padding: 25px 25px;
  margin-bottom: 5rem;
  border-radius: 125px;
}

.botao-finalizar:hover {
  color: white;
  text-decoration: none;
  background-color: #8cab7e;
  transition: 1s;
}

#modal1 {
  display: none;
}

#modal2 {
  display: none;
}

@media only screen and (max-width: 1520px) {
  .produto {
    height: 300px;
    width: 1350px;
  }
}

@media only screen and (max-width: 1450px) {
  .produto {
    height: 300px;
    width: 1200px;
  }

  .excluir {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 200px;
  }
}

@media only screen and (max-width: 1330px) {
  .produto {
    height: 300px;
    width: 1100px;
  }

  .excluir {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 300px;
  }
}

@media only screen and (max-width: 1220px) {
  .produto {
    height: 300px;
    width: 900px;
  }

  .excluir {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 500px;
  }
}

@media only screen and (max-width: 1030px) {
  .produto {
    height: 750px;
    width: 700px;
    flex-direction: column;
  }

  .excluir {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 300px;
  }

  .nome{
    margin-top: -50px;
  }

}

@media only screen and (max-width: 830px) {
  .produto {
    height: 750px;
    width: 600px;
    flex-direction: column;
  }

  .excluir {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 400px;
  }

}

@media only screen and (max-width: 730px) {
  .produto {
    height: 600px;
    width: 500px;
    flex-direction: column;
  }

  .excluir {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 500px;
  }

}

@media only screen and (max-width: 620px) {
  .produto {
    height: 530px;
    width: 450px;
    flex-direction: column;
  }

  .excluir {

    display: flex;
    align-items: center;
    margin-right: 530px;
  }

  .botao-finalizar{
    font-size: 20px;
  }

}

@media only screen and (max-width: 550px) {
  .produto {
    height: 480px;
    width: 390px;
    flex-direction: column;
  }

  .excluir {

    display: flex;
    align-items: center;
    margin-right: 580px;
  }

  .botao-finalizar{
    font-size: 20px;
  }

}









