*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}

li{
    margin-left: 20px;
}

html,body{
    height: 100%;
}

button{
    cursor: pointer;
}

.container{
    max-width: 1500px;
}

:root {
    --orange: #FE934E;
    --yellow: #FCCA46;
    --green: #9EC38E;
    --brown: #CD8655
}

/* HEADER */
/* ============================================================================================= */


header{
    background-color: var(--orange);
    /* position: fixed;
    z-index: 1;
    width: 100%; */
}

.header-wrapper-top{
    display: flex;
    align-items: center;
    justify-content:  space-between;
}

.logoHeader{
    padding: 10px 0 0 20px;
}

.logoHeader img{
    width: 180px;
    height: 80px;
}

.header-carrinho{
    cursor: pointer;
    margin-right: 20px;
}

.header-carrinho img{
    width: 60px;
    height: 60px;
}

.header-carrinho img:hover{
    margin-bottom: 3px;
}

.header-wrapper-bot{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header-wrapper-bot a{
    margin: 0 80px 0 80px;
    color: white;
    font-size: 25px;
    line-height: 60px;
}

/* CONTATO */
/* ============================================================================================= */

.contato{
    background-color: var(--green);
    color: white;
    padding: 40px 50px;
}

.contato-wrapper{
    display: flex;
    justify-content: space-between;
}

.contato h1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.logo-contato{
    display: flex;
    align-items: center;
}

.form-contato{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.form-contato p{
    font-size: 28px;
}

.form-contato input{
    height: 50px;
    margin-bottom: 20px;
    width: 100%;
    border: 0;
    border-radius: 10px;
    padding-left: 20px;
}

.form-contato textarea{
    border: 0;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 20px;
}

.form-contato  button{
    width: 20%;
    height: 40px;
    background-color: var(--orange);
    color: white;
    font-size: 20px;
    margin-top: 20px;
    border: 0;
    border-radius: 10px;
}

.form-contato  button:hover{
    background-color: #ca6c2e;
    transition: 1s;
}

/* FOOTER */
/* ============================================================================================= */

footer{
    background-color: var(--orange);
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer .social{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.icon-wrapper{
    background-color: rgba(232,110,32, 0.5);
    margin-right: 20px;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon-wrapper a:hover{
    margin-bottom: 10px;
}


/* ============================================================================================ */
/* RESPONSIVO */

@media only screen and (max-width: 900px) {
    /* HEADER */
    /* ============================= */
    .header-wrapper-bot a{
        margin: 0 50px 0 50px;
        font-size: 18px;
        line-height: 60px;
    }

    /* CONTATO */
    /* ============================= */
    .contato-wrapper{
        flex-direction: column;
    }

    .logo-contato{
        align-items: center;
        justify-content: center;
    }
    
    .form-contato{
        margin: 30px 0;
        width: 100%;
    }
}

@media only screen and (max-width: 620px) {
    /* HEADER */
    /* ============================= */
    .header-wrapper-top{
        flex-direction: column;
    }

    .logoHeader{
        padding: 0;
        padding: 20px 0;
    }
    
    .header-buscar{
        width: 100%;
        padding: 10px 0;
    }
    
    .header-carrinho{
        padding: 10px 0;
    }

    .header-wrapper-bot a{
        margin: 0 50px 0 50px;
        font-size: 18px;
        line-height: 20px;
        padding-bottom: 20px;
    }

}