body{
  overflow-x: hidden;
  background-color: red;
}

.ocasioes_especiais {
  margin-top: 100px;
}

.foto-lado-dir {
  max-width: 200px;
  max-height: 150px;
  width: auto;
  height: auto;
  left: 100%;
}

#foto3 {
  border-radius: 4% 4% 0% 0%;
}
