/* SECTION COVER */
/* ============================================================================================= */

/* .cover-section .bg-cover > img {
  width: 100%;
  position: absolute;
  background-position: 100% 100%;
  height: 400px;
}

.cover-section .cover-logo > img {
  position: relative;
  top: 2rem;
} */

/* SECTION MAIS VENDIDOS*/
/* ============================================================================================= */
body{
  overflow-x: hidden;
}

.todasFlores {
  margin-top: 100px;
}

.card {
  border: 0;
  margin-bottom: 300px;
  margin-left: 120px;
  margin-right: 50px;
}

.img-principal{
  /* width: 270px;
  height: 200px;
  background-size:100% 100% ;
  background-repeat: no-repeat; */

  background-position: center;
  background-size: cover;
  width: 100%;
  height: 375px;
  border-radius: 5% 5% 0% 0%;
  

}

.col-lg{
  border: 0;
  left:3%;
  /* margin-bottom: 100px;
  margin-right: 80px; */
  
  margin-left: 20px;
  height: 400px;
  width: 400px;
  display: inline-block;
  
}




.cardinfo {
  background-color: var(--brown);
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 20px 20px;
  margin-top: -2px;
}



.card a {
  text-decoration: none;
}

.cardinfo a {
  color: white;
}

.cardinfo p {
  font-size: 25px;
  text-align: center;
  margin-top: 10px;
}

.preco-mais {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  border: 0 20px 0 20px;
}

.preco-mais .preco {
  font-size: 20px;
  background-color: #c37f50;
  padding: 10px 20px;
  border-radius: 7px;
  margin-left: 2rem;
}

.preco-mais .mais {
  width: 60px;
  font-size: 40px;
  background-color: #c37f50;
  padding: 10px;
  color: var(--green);
  border-radius: 7px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 2rem;
}

@media only screen and (max-width: 620px) {
  /* SECTION COVER */
  /* ============================= */
  .cover-section .cover-logo > img {
    left: 2rem;
  }
}

@media only screen and (max-width: 1220px) {
  .card {
    margin-right: 0;
  }
}
